body{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgb(238, 238, 238);
    
}

.result{
    border: 2px solid blue;
    width: 300px;
    height: 400px;  
    background: rgb(146, 146, 248);
    border-radius: 20px;
    background: linear-gradient(rgb(92, 92, 197), rgb(22, 26, 255));
    border: none;
    font-family: 'Alkatra', cursive;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Happy Monkey', cursive;
    font-family: 'Poppins', sans-serif;
}

.Yresult{
    text-shadow: 0 0 5px #000;
    color: rgb(187, 187, 226);
    margin: 30px 0;
    
}

.summary{
    border: 2px solid rgb(233, 230, 230);
    width: 300px;
    height: 400px;
    background: white;
    color: #000;
    border-radius: 20px;
    box-shadow: 1px 0 2px rgb(121, 121, 121);
    
}

.cir{
    margin-top: 20px;
    font-size: 45px;
    padding: none;
    margin-bottom: 0;
}

.cirr{
    margin-top: 0;
    font-size: 12px;
    padding-bottom: 50px;
    color: rgb(171, 171, 218);
}

.theo{
    margin-top: 20px;
    
    
}

.theor{
    margin: 5px 20px 40px 20px;
    color: rgb(160, 161, 218);
}

.circle{
    border: 1px solid black;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: 0 80px;
    background: linear-gradient(rgb(77, 77, 187), rgb(17, 21, 209));
    border: none;
    padding: 10px;
}

#title{
    color: black;
    display: flex;
    align-items: start;
    font-size: 15px;
    margin-left:20px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Alkatra', cursive;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Happy Monkey', cursive;
    font-family: 'Poppins', sans-serif;
}

.naruto1{
    word-spacing: 150px;
    margin:20px;
    border: 1px solid none;
    padding: 10px 2px;
    height: 20px;
    background: rgb(255, 238, 238);
    border-radius: 8px;
}
.naruto2{
    word-spacing: 150px;
    margin: 20px;
    border: 1px solid none;
    padding: 10px 2px;
    height: 20px;
    background: rgb(253, 253, 225);
    border-radius: 8px;
}
.naruto3{
    word-spacing: 150px;
    margin: 20px;
    border: 1px solid none;
    padding: 10px 2px;
    height: 20px;
    background: rgb(236, 255, 236);
    border-radius: 8px;
}
.naruto4{
    word-spacing: 150px;
    margin: 20px;
    border: 1px solid none;
    padding: 10px 2px;
    height: 20px;
    background: rgb(236, 236, 255);
    border-radius: 8px;
}

#cont{
    width: 250px;
    height: 40px;
    color: white;
    background: #292946;
    border-radius: 25px;
    margin-top: 15px;
    border: none;
    
}

.n1{
    color: #B22222;
    font-size: 11px;
    font-weight: bold;
    font-family: 'Alkatra', cursive;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Happy Monkey', cursive;
    font-family: 'Poppins', sans-serif;
    
}
.n2{
    color: #CCAC00;
    font-size: 11px;
    font-weight: bold;
    font-family: 'Alkatra', cursive;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Happy Monkey', cursive;
    font-family: 'Poppins', sans-serif;
}
.n3{
    color: #33D8DA;
    font-size: 11px;
    font-weight: bold;
    font-family: 'Alkatra', cursive;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Happy Monkey', cursive;
    font-family: 'Poppins', sans-serif;
}
.n4{
    color: #00008B;
    font-size: 11px;
    font-weight: bold;
    font-family: 'Alkatra', cursive;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Happy Monkey', cursive;
    font-family: 'Poppins', sans-serif;
}
.dark{
    font-weight: bold;
    padding: 4px;
}

@media screen and (max-width: 800px) {
    body{
        display: flex;
        flex-direction: column;
        
    }
 

}